@import '../../../styles/settings.scss';
@import '../../../styles/views.scss';


.component {
  // padding: $base-size;
  margin-left: auto;
}

.datepicker {
  display: 'flex';
  flex-wrap: 'wrap';
}

.textField {
  margin: 0 8px;
  width: 200px;
}

.link {
  padding: 0 5px;
}

