@import '../../../styles/settings.scss';
@import '../../../styles/views.scss';


.component {
  // padding: $base-size;
  margin-left: auto;
}

.datepicker {
  display: 'flex';
  flex-wrap: 'wrap';
  padding: 16px 8px;
}

.textField {
  margin: 0 8px;
  width: 200px;
}

.tableBox {
  text-align: center;
}

.buttonTable {
  min-width: 220px;
}

.link {
  padding: 0 5px;
  text-decoration: none;
}

