@import '../../../styles/settings.scss';
@import '../../../styles/views.scss';


.component {
  margin-left: auto;
}

.link {
  padding: 0 5px;
}

.progress {
  text-align: center;
  padding-top: 20px;
}
