@import '../../../styles/settings.scss';
@import '../../../styles/views.scss';


.orders {
  max-height: 450px;
  width: 85%;
  text-align: center;
}

.progress {
  text-align: center;
  padding-top: 20px;
}

.table {
  margin: 0 auto;
  max-height: 650px;
  width: 85%;
  text-align: center;
}
