@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}

.time {
  font-style: italic;
  padding-left: 20px;
}

.box {
  margin-top: 24px;
}

.title {
  padding: 16px 0;
  text-align: center;
  font-weight: 800;
}

.paper {
  padding: 0 8px 24px 8px;
}

.container {
  height: 300px;
  padding-bottom: 24px;
}

.booking {
  min-height: 450px;
  width: 85%;
  text-align: center;

}
