@import '../../../styles/settings.scss';
@import '../../../styles/views.scss';


.time {
  font-style: italic;
  padding-left: 20px;
}

.booking {
  margin: 0 auto;
  max-height: 650px;
  width: 85%;
  text-align: center;
}

.pagination {
  display: flex;
}

.tableFooter {
  margin: 0 auto;
}

.borderFooter {
  border: none;
}

.flexShrink {
  flex-shrink: 0;
}
