@import '../../../styles/settings.scss';
@import '../../../styles/views.scss';


.component {
  // flex-grow: 1;
  margin: 14px auto;
}

.title {
  text-align: center;
}

.bookingID {
  padding-left: 8px;
}

.listText {
  padding: 12px 0;
}
